New User
    <form action="/usersadd" method="post">
        Name: <input type="text" id="name" name="name"><br />
        Team: <input type="text" id="team" name="team"><br />
        Zip Code: <input type="text" id="zipcode" name="zipcode"><br />
        Type: <input type="text" id="type" name="type"><br />
        Password: <input type="text" id="password" name="password"><br />
        <input type="hidden" id="id" name="id">
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
    
</form>
