    <footer>
        <div class="text-center p-4">
            <% const currentYear = new Date().getFullYear() %>
            &#169; <%=currentYear%> Behavio.cc
        </div>
    </footer>
</body>
</html>
